<div id="push">
  <footer div class="footer navbar-fixed-bottom" id="footerid"></div>
    <div class="footer-container">
      <nav class="footer-nav">
        <div class="footer-left">
          <p>© Designed & Developed by Afrex Technologies</p>
        </div>
        <div class="footer-right">
          <ul>
            <li><a href="mailto:info@vss-aftab.org" class="text-white no-deco"><i class="fa fa-envelope-square fa-2x "></i></a></li>
            <li><a href="https://www.facebook.com/virtual-safe-space" class="text-white"><i class="fab fa-facebook fa-2x" ></i></a></li>
            <li><a href="https://www.instagram.com/vss.app/" class="text-white"><i class="fab fa-instagram fa-2x" ></i></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>
</div>
