<div class="main-container">
  <div class="vss-logo"><img src="https://res.cloudinary.com/durtng53m/image/upload/v1590213896/3_VSS_LOGO.png" style="width: 40%"></div>
    <div class="rocket">
      <div class="rocket-body">
        <div class="body"></div>
        <div class="fin fin-left"></div>
        <div class="fin fin-right"></div>
        <div class="window"><img src="https://res.cloudinary.com/durtng53m/image/upload/v1590217033/3_VSS_LOGO_2.png" id="small-logo"></div>
      </div>
      <div class="exhaust-flame"></div>
      <ul class="exhaust-fumes">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="star">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

  <div class="coming-soon">
    <p>
    <span id="banner-typed-text"></span>
  </p>
  </div>
</div>
