<div class="main-container">
  <div class="vss-logo"><img src="https://res.cloudinary.com/durtng53m/image/upload/v1590239678/Screenshot_2020-05-20_at_09.16_2.png" class="vssmain"></div>
  <div class="rocket-box">
    <div class="rocket">
      <div class="rocket-body">
        <div class="body"></div>
        <div class="fin fin-left"></div>
        <div class="fin fin-right"></div>
        <div class="window"><img src="https://res.cloudinary.com/durtng53m/image/upload/v1590217033/3_VSS_LOGO_2.png" id="small-logo"></div>
      </div>
      <div class="exhaust-flame"></div>
      <ul class="exhaust-fumes">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="star">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

  </div>

  <div class="coming-soon">
    <p>
    <span id="banner-typed-text"></span>
  </p>
  </div>
  <div class="parent-logos">
    <div class="logo"><img src="https://res.cloudinary.com/durtng53m/image/upload/v1590214346/Screenshot_2020-05-23_at_10-removebg-preview.png" style="width: 80px"></div>
    <div class="logo"><img src="https://res.cloudinary.com/durtng53m/image/upload/v1590214344/WhatsApp_Image_2020-04-19_at_22-removebg-preview.png" style="width: 80px"></div>
  </div>
</div>
